
.error-label {
    -fx-text-fill: RED;
    -fx-font-weight: BOLD;
    -fx-font-size: 12px;
}

.main-action-button {
    -fx-text-fill: GREEN;
    -fx-font-size: 20px;
    -fx-font-weight: BOLD;
}

#quit-button {
    -fx-text-fill: RED;
}

.GridPane{
    -fx-border-width: 8px;
    -fx-border-color: rgba(50, 118, 154, 0.82);
}

.title-label {
    -fx-font-weight: BOLD;
    -fx-font-size: 16px;
    -fx-text-fill: #005380;
}
